#content {
    margin: 0 auto;
}

#background {
    background-color: darkgray;
    height: 400px;
    width: 1280px;
    position: absolute;
}

.icon {
    border-radius: 50%;
    border: 10px solid grey;
    width: 300px;
    position: relative;
    margin: 1.9%;
}
    