/* width, margin and height */
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav,  a {text-align: center;}
#hero-msg h1 {text-align: center;}
#hero-msg h4 {text-align: center;}
.button-box {text-align: center;}
main section {text-align: center;}
#background {height: 725px;}

/* colors */
body {background-color: white;}
header{background-color: rgba(130,206,235, .30);}
nav a:hover{background-color: #7BC4D5;}
.book, .join {background-color: white;}
.book:hover, .join:hover {background-color: #7BC4D5;}
#background{background-color: grey;}
.msg {background-color: grey;}
footer {background-color: rgba(130,206,235, .30)}