/* width, margin and height */
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav,  a {text-align: center;}
#hero-msg h1 {text-align: center;}
#hero-msg h4 {text-align: center;}
.button-box {text-align: center;}
main section {text-align: center;}
#background {height: 725px;}

/* background colors */
body {background-color: white;}
header{background-color: rgba(130,206,235, .80);}
nav a:hover{background-color: #F5DE73;}
.book, .join {background-color: #144365;}
.book:hover, .join:hover {background-color: #FFFFFF;}
#background{background-color: #144365;}
.msg {background-color: #144365;}
footer {background-color: rgba(130,206,235, .80)}